<a href="https://colab.research.google.com/github/MoniaGierszewska/Kurs-Data-Science/blob/main/poglowie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel("poglowie2.xlsx", sheet_name="TABLICA")

In [6]:
df

,Kod,Nazwa,gospodarstwa rolne ogółem,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,pogłowie zwierząt,NaN,NaN,NaN,NaN,NaN,gospodarstwa utrzymujące zwierzęta gospodarskie,NaN,...,NaN,NaN,NaN,NaN,gospodarstwa utrzymujące zwierzęta gospodarskie,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,bydło ogółem,bydło - krowy,świnie ogółem,świnie - lochy na chów,drób ogółem,drób kurzy razem,bydło ogółem,bydło - krowy,...,świnie ogółem,świnie - lochy na chów,drób ogółem,drób kurzy razem,bydło ogółem,bydło - krowy,świnie ogółem,świnie - lochy na chów,drób ogółem,drób kurzy razem
2,NaN,NaN,2020,2020,2020,2020,2020,2020,2020,2020,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
3,NaN,NaN,[szt.],[szt.],[szt.],[szt.],[szt.],[szt.],[gosp.],[gosp.],...,[szt.],[szt.],[szt.],[szt.],[gosp.],[gosp.],[gosp.],[gosp.],[gosp.],[gosp.]
4,201000.0,Powiat bolesławiecki,1645,649,994,134,485204,341686,121,90,...,994,134,485204,341686,120,90,45,21,627,610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2856,3261011.0,Koszalin (1),104,53,0,0,18345,18333,4,4,...,0,0,18345,18333,4,4,0,0,10,10
2857,3262000.0,Powiat m. Szczecin,265,114,0,0,526327,526172,15,12,...,0,0,261472,261317,13,10,0,0,33,32
2858,3262011.0,Szczecin (1),265,114,0,0,526327,526172,15,12,...,0,0,261472,261317,13,10,0,0,33,32
2859,3263000.0,Powiat m. Świnoujście,0,0,0,0,85,0,0,0,...,0,0,85,0,0,0,0,0,4,0
2860,3263011.0,Świnoujście (1),0,0,0,0,85,0,0,0,...,0,0,85,0,0,0,0,0,4,0

In [3]:
df1 = pd.read_excel("new_uzytki.xlsx")

In [5]:
df1

      Unnamed: 0        Kod             Nazwa  Uzytki_rolne
0            NaN        NaN               NaN           NaN
1            4.0   201011.0   Bolesławiec (1)         12.11
2            5.0   201022.0   Bolesławiec (2)         11.68
3            6.0   201032.0      Gromadka (2)         14.46
4            7.0   201043.0  Nowogrodziec (3)         11.79
...          ...        ...               ...           ...
2479      2858.0  3218043.0         Resko (3)         44.82
2480      2859.0  3218053.0     Węgorzyno (3)         43.86
2481      2861.0  3261011.0      Koszalin (1)         17.06
2482      2863.0  3262011.0      Szczecin (1)         26.58
2483      2865.0  3263011.0   Świnoujście (1)         14.19

[2484 rows x 4 columns]

In [89]:
df.head(5)

,Kod,Nazwa,gospodarstwa rolne ogółem,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,pogłowie zwierząt,NaN,NaN,NaN,NaN,NaN,gospodarstwa utrzymujące zwierzęta gospodarskie,NaN,...,NaN,NaN,NaN,NaN,gospodarstwa utrzymujące zwierzęta gospodarskie,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,bydło ogółem,bydło - krowy,świnie ogółem,świnie - lochy na chów,drób ogółem,drób kurzy razem,bydło ogółem,bydło - krowy,...,świnie ogółem,świnie - lochy na chów,drób ogółem,drób kurzy razem,bydło ogółem,bydło - krowy,świnie ogółem,świnie - lochy na chów,drób ogółem,drób kurzy razem
2,NaN,NaN,2020,2020,2020,2020,2020,2020,2020,2020,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
3,NaN,NaN,[szt.],[szt.],[szt.],[szt.],[szt.],[szt.],[gosp.],[gosp.],...,[szt.],[szt.],[szt.],[szt.],[gosp.],[gosp.],[gosp.],[gosp.],[gosp.],[gosp.]
4,201000.0,Powiat bolesławiecki,1645,649,994,134,485204,341686,121,90,...,994,134,485204,341686,120,90,45,21,627,610

In [7]:
df = df[['Kod','Nazwa', 'gospodarstwa rolne ogółem']]

In [8]:
df

            Kod                  Nazwa gospodarstwa rolne ogółem
0           NaN                    NaN         pogłowie zwierząt
1           NaN                    NaN              bydło ogółem
2           NaN                    NaN                      2020
3           NaN                    NaN                    [szt.]
4      201000.0   Powiat bolesławiecki                      1645
...         ...                    ...                       ...
2856  3261011.0           Koszalin (1)                       104
2857  3262000.0     Powiat m. Szczecin                       265
2858  3262011.0           Szczecin (1)                       265
2859  3263000.0  Powiat m. Świnoujście                         0
2860  3263011.0        Świnoujście (1)                         0

[2861 rows x 3 columns]

In [9]:
df.isnull().sum()

Kod                          4
Nazwa                        4
gospodarstwa rolne ogółem    0
dtype: int64

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Kod                        2857 non-null   float64
 1   Nazwa                      2857 non-null   object
 2   gospodarstwa rolne ogółem  2861 non-null   object
dtypes: float64(1), object(2)
memory usage: 67.2+ KB

In [10]:
df = df.dropna()

In [11]:
df

            Kod                  Nazwa gospodarstwa rolne ogółem
4      201000.0   Powiat bolesławiecki                      1645
5      201011.0        Bolesławiec (1)                         0
6      201022.0        Bolesławiec (2)                       454
7      201032.0           Gromadka (2)                       402
8      201043.0       Nowogrodziec (3)                       550
...         ...                    ...                       ...
2856  3261011.0           Koszalin (1)                       104
2857  3262000.0     Powiat m. Szczecin                       265
2858  3262011.0           Szczecin (1)                       265
2859  3263000.0  Powiat m. Świnoujście                         0
2860  3263011.0        Świnoujście (1)                         0

[2857 rows x 3 columns]

In [95]:
df['Nazwa']=df['Nazwa'].astype(str)

<ipython-input-95-ef50620705ad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Nazwa']=df['Nazwa'].astype(str)

In [96]:
df = df[~df['Nazwa'].str.contains('Powiat', case=False)]

In [97]:
df

            Kod             Nazwa gospodarstwa rolne ogółem
5      201011.0   Bolesławiec (1)                         0
6      201022.0   Bolesławiec (2)                       454
7      201032.0      Gromadka (2)                       402
8      201043.0  Nowogrodziec (3)                       550
9      201052.0    Osiecznica (2)                         0
...         ...               ...                       ...
2853  3218043.0         Resko (3)                       350
2854  3218053.0     Węgorzyno (3)                       378
2856  3261011.0      Koszalin (1)                       104
2858  3262011.0      Szczecin (1)                       265
2860  3263011.0   Świnoujście (1)                         0

[2478 rows x 3 columns]

In [98]:
df["Kod"].unique()

array([ 201011.,  201022.,  201032., ..., 3261011., 3262011., 3263011.])

In [99]:
df.columns = [["Kod", "Nazwa", "Poglowie_bydla"]]

In [104]:
df.reset_index()

     index        Kod             Nazwa Poglowie_bydla
0        5   201011.0   Bolesławiec (1)              0
1        6   201022.0   Bolesławiec (2)            454
2        7   201032.0      Gromadka (2)            402
3        8   201043.0  Nowogrodziec (3)            550
4        9   201052.0    Osiecznica (2)              0
...    ...        ...               ...            ...
2473  2853  3218043.0         Resko (3)            350
2474  2854  3218053.0     Węgorzyno (3)            378
2475  2856  3261011.0      Koszalin (1)            104
2476  2858  3262011.0      Szczecin (1)            265
2477  2860  3263011.0   Świnoujście (1)              0

[2478 rows x 4 columns]

In [105]:
df1.reset_index()

      index  Unnamed: 0        Kod             Nazwa  Uzytki_rolne
0         0         NaN        NaN               NaN           NaN
1         1         4.0   201011.0   Bolesławiec (1)         12.11
2         2         5.0   201022.0   Bolesławiec (2)         11.68
3         3         6.0   201032.0      Gromadka (2)         14.46
4         4         7.0   201043.0  Nowogrodziec (3)         11.79
...     ...         ...        ...               ...           ...
2479   2479      2858.0  3218043.0         Resko (3)         44.82
2480   2480      2859.0  3218053.0     Węgorzyno (3)         43.86
2481   2481      2861.0  3261011.0      Koszalin (1)         17.06
2482   2482      2863.0  3262011.0      Szczecin (1)         26.58
2483   2483      2865.0  3263011.0   Świnoujście (1)         14.19

[2484 rows x 5 columns]

In [101]:
df["Poglowie_bydla"].unique()

AttributeError: ignored

In [ ]:
df.drop_duplicates()

In [112]:
df = df.merge(df1['Uzytki_rolne'], how= 'left', left_index=True, right_index=True)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2808 entries, 0 to 2860
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Kod,)             2478 non-null   float64
 1   (Nazwa,)           2478 non-null   object
 2   (Poglowie_bydla,)  2478 non-null   object
 3   Uzytki_rolne       2483 non-null   float64
dtypes: float64(2), object(2)
memory usage: 109.7+ KB

In [ ]:
df.isnull().sum()

In [110]:
df.head(15)

,"(Kod,)","(Nazwa,)","(Poglowie_bydla,)",Uzytki_rolne_x,Uzytki_rolne_y
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,12.11,12.11
2,NaN,NaN,NaN,11.68,11.68
3,NaN,NaN,NaN,14.46,14.46
4,NaN,NaN,NaN,11.79,11.79
5,201011.0,Bolesławiec (1),0,8.79,8.79
6,201022.0,Bolesławiec (2),454,28.65,28.65
7,201032.0,Gromadka (2),402,11.60,11.60
8,201043.0,Nowogrodziec (3),550,14.60,14.60
9,201052.0,Osiecznica (2),0,13.53,13.53
10,201062.0,Warta Bolesławiecka (2),182,13.56,13.56
11,NaN,NaN,NaN,17.27,17.27
12,202011.0,Bielawa (1),61,22.80,22.80
13,202021.0,Dzierżoniów (1),19,34.33,34.33
14,202033.0,Pieszyce (3),432,20.40,20.40